*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}
body{
    font-family: 'Dosis', sans-serif;
}
a{
    text-decoration: none ;
}
.padre{
    background: white ;
    display: flex ;
    flex-flow: column nowrap;
}   
    .header{
        background: url(../imagenes/bckgrd.jpg) ;/*va un directorio atras a la carpeta imagenes*/
        background-position: center ;
        background-attachment: contain ;
        background-size: cover;
        display: flex ;
        flex-flow: column nowrap;
    }
        .menu{
            background:rgba(0,0,0,.1) ;
            display: flex ;
            flex-flow: row nowrap ;
            height: 100px ;
            align-items: center ;
            border-bottom: 1px solid rgba(255,255,255,.5) ;
        }
            .logo{
                flex: 1 1 auto ;
                
            }
                .logo a{ /*Le da color al texto del ancla en el logo*/
                    color: #fff ;
                    font-size: 30px ;
                }
                .logo a:hover{
                    color: #343434 ;
                }
            .nav{
                flex: 5 1 auto ;
            }
                .nav a{
                    color: #fff;
                    font-size: 15px ;
                    text-transform: uppercase;
                    padding: 0 10px ;
                    letter-spacing: 2px ;
                }
                .nav a:hover{
                    color: #343434 ;
                }
            .social{
                flex: 1 1 auto ;
                display: flex ;
            }
                .social a{
                    font-size: 18px ;
                    color: #fff;
                    padding: 0 5px ;
                }
                .social a:hover{
                    color: #343434;
                }
        .texto-principal{
            /*background: #f07b3f ;*/
            height: 580px;
            display: flex ;
            align-items: center ;
        }
            h1{
                font-family: 'Raleway', serif ;
                font-size: 21px ;
                color: black;
                font-weight: 600 ;
                text-align:  center ;
                line-height: 1.6 ; /*interlineado*/
            }
    .section{
        background: #000 ;
        display: flex ;
    }
        .articulos{
            background: #f7f7f7 ;
            flex:2 1 auto ;
            display: flex ;
            flex-flow: row wrap ;
        }
            .article{
                flex: 1 1 40% ;
                color: #444 ;
                letter-spacing: 1px ;
                font-size: 13px ;
                padding: 10px 10px 0 0 ;
                flex: 1 1 45% ;
                background: #ececec ;
            }
            .article img{
                weight: 100% ;
            }
            h3{
                color: #fff ;
                font-size: : 13px ;
                padding: 10px 0 ;
                margin-top: -80px ;
                color: #fff ;
            }
            h2{
                font-size: 25px ;
                text-transform: uppercase ;
                padding: 0 0 10px 0 ;
            }
            .navegacion{
                background: #70a3c4 ;
                flex: 1 1 100%;
            }
        .aside{
            background: #f73f52 ;
            flex: 1 1 auto ;
        }
            .publicidad{
                background: #ffea85;
            }
    .footer{
        background: #000 ;
        display: flex ;
        justify-content: center ;
    }
        .pie{
            background: #e6af2e ;
            width: 300px ;
        }

@media all and (max-width: 800px){
    .section{
        flex-direction: column ; /*para que el aside pase abajo*/
    }
    .menu{
        flex-direction: column ;
        height: auto ;
    }
    .aside{
        display: flex ;
        justify-content: center;
        
    }
}
@media all and (max-width: 600px){
    .articulos{
        flex-direction: column ;
    }
}
@media all and (max-width: 400px){
    .aside{
        flex-direction: column ;
    }
}